html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font: 112.5%/1.45em georgia, serif, sans-serif;
  box-sizing: border-box;
  overflow-y: scroll;
}
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: hsla(0, 0%, 0%, 0.8);
  font-family: georgia, serif;
  font-weight: normal;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}

.header__container {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  margin-bottom: 2.45rem;
  font-family: sans-serif;
  border-bottom: 1px solid #E8E9ED;
}

.header__header {
  width: 980px;
  max-width: 80%;
}

.header__title {
  margin: 0;
}

@media (max-width: 600px) {
  .header__container {
    height: 50px;
    margin: 4px 0px;
    margin-bottom: 40px;
  }
  .header__link {
    font-size: 16px;
  }
}
